html{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.voltar{
    width: 7rem;
    height: 6rem;
    position: absolute;
    left: 1rem;
    top: 4rem;
}
main{
    height: 85%;
    width: 100%;
    background-color: #d9ddce;
}
header{
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 4rem;
    background-color: #719bb9;
    color: black;
}
.ingredientes{
    display: flex;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 22.5%;
    margin-right: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8c8f8d;
    width: 30rem;
    height: 10rem;

}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.imagem{
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 17rem;
    right: 7rem;
}
.falar{
    position: absolute;
    bottom: 25rem;
    right: 3rem;
    font-size: 2rem;
}
.dietas{
    font-size: 2rem;
}