html{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: #d9ddce;
}
header{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 4rem;
    background-color: #719bb9;
}
video{
    margin: 3rem;
}