html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 4rem;
}
video{
    margin: 3rem;
}