html{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: #d9ddce;
}
header{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 4rem;
    border-bottom: 1px solid black;
    background-color: #719bb9;
    color: #3b4b59;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
}
li{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
button{
    margin-top: 1rem;
    padding: 10px 24px;
    
}