html{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #719bb9;
    font-style: sans-serif;
    color: black;

}
.voltar{
    width: 7rem;
    height: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    left: -13.5rem;

}
h1{
    font-size: 3rem;
    font-style: sans-serif;
}
.foto_perfil{
    height: 7rem;
    width: 7rem;
    
}
main{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9ddce;
}
.mail{
    margin: 1rem;
    font-size: 1.5rem;
}
.input{
 font-size: 1.5rem;
 size: 15rem;
}
.senha{
    margin: 1rem;
    font-size: 1.5rem;
}
.notificacao{
    margin: 1rem;
    font-size: 1.5rem;
}
.suporte{
    margin: 1rem;
    font-size: 1.5rem;
}
.duvida{
    margin: 1rem;
    font-size: 1.5rem;
}
.foto_suporte{
    height: 7rem;
    width: 7rem;
}
a{
    text-decoration: none;
}
