html{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: #d9ddce;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #719bb9;
    font-style: sans-serif;
    color: black;
}
.voltar{
    width: 7rem;
    height: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    left: -13.5rem;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.exercicio{
    display: flex;
    border: 1px solid black;
    margin-left: 22.5%;
    margin-right: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    width: 30rem;
    font-size: 2rem;
}
.imagem{
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 22rem;
    right: 5rem;
}
.falar{
    position: absolute;
    bottom: 20rem;
    right: 1rem;
    font-size: 2rem;
}
ol{
    background-color: #8c8f8d;
}
a{
    text-decoration: none;
}